<p id="notice"><%= notice %></p>

<h3>Listing Auction Items</h3>
<hr>

<% @listings.each do |listing| %>
  <div class="item_listing">
    <div class="item_thumbnail">
        
    </div>
    <div class="item_attributes">
      <div class="item_head">
        <strong><%= link_to listing.name, listing %></strong>
      </div><br>
        Start Bid: <%= number_to_currency(listing.start_bid, precision: 2) %>
        <div class="time_till">
          Auction starts in [TIME_TILL_AUCTION]
        </div>
    </div>
    
    <br>
  </div><br>
<% end %>

<br>

<%= link_to 'New Listing', new_listing_path %>
