@import "bootstrap-sprockets";
@import "bootstrap";

#site_container{
    width: 75%;
    margin: 0px auto;
}
#logo {
    color: #000;
}
#logo:hover {
    color: #858383;
    text-decoration: none;
    background-color: transparent;
}
#nac{
    color: #000;
}
#nav li{
    color: #000;
    display: inline;
    list-style-type: none;
}
#nav li:after {
    content: " | ";
}
.container{
}
.charity_banner{
    width: 100%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    margin: 2px auto;
}
#placeholder_text{
    margin: 10px auto;
    font-size: 300%;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
}
.watch_list{
    width: 15%;
    height: 100%;
    //border-style: solid;
    //border-width: 1px;
    margin: 1px auto;
    display: inline-block;
}
.watch_item{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    margin: 1px auto;
}
.page_header{
    display: inline-block;
}
hr{
    border-top: 1px solid #000;
}
.create_button{
    display: inline-block;
    margin: auto 0;
}
.main_content{
    width: 84.5%;
    float: right;
    //border-style: solid;
    //border-width: 1px;
    margin: 1px auto;
    display: inline-block;
    vertical-align: top;
}
.item_listing{
    width: 98%;
    //border-style: solid;
    //border-width: 3px;
    margin: 2px auto 2px auto;
}
.item_thumbnail{
    width: auto;
    height: auto;
    //border-style: solid;
    //border-width: 2px;
    margin: 2px;
    display: inline-block;
}
.item_attributes{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);
    //border-style: solid;
    //border-width: 2px;
    margin: 2px;
    
}
.item_head{

}    
.time_till{
    float: right;
}
//Show CSS
.show_top{
    margin: 2px;
    width: calc(100% - 8px);
    //border-style: solid;
    //border-width: 1px;
}
.image_display{
    margin: auto;
    width: calc(50% - 10px);
    height: auto;
    display: inline-block;
    //border-style: solid;
    //border-width: 1px;
}
#image_surround{
    width: 300px;
    margin: auto;
}
.bid_box{
    margin: 2px;
    width: calc(50% - 10px);
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    //border-style: solid;
    //border-width: 1px;
}
#bid_fields{
    width: 100%;
    margin: auto;
    //border-style: solid;
    //border-width: 1px;
    
}
.surround{
    width: 95%;
    margin: auto;
}
#bid_text_field{
    display: inline-block;
    //border-style: solid;
    //border-width: 1px;
    margin-left: 15%;
    width: 150px;
}
#bid_button{
    display: inline-block;
    //border-style: solid;
    margin: auto 0px;
    //border-width: 1px;
}
#watch{
    text-align: right;
}
.description_box{
    margin: 2px;
    width: auto;
    //border-style: solid;
    //border-width: 1px;
    margin: 5px 10px;
}
