#site_container{
    width: 75%;
    margin: 0px auto;
}
#logo {

}
#nav li{
    display: inline;
    list-style-type: none;
}
#nav li:after {
    content: " | ";
}
.container{
}
.charity_banner{
    width: 100%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    margin: 2px auto;
}
.watch_list{
    width: 15%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    margin: 1px auto;
    display: inline-block;
}
.watch_item{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    margin: 1px auto;
}
.main_content{
    width: 84.5%;
    float: right;
    border-style: solid;
    border-width: 1px;
    margin: 1px auto;
    display: inline-block;
    vertical-align: top;
}
.item_listing{
    width: 98%;
    border-style: solid;
    border-width: 3px;
    margin: 2px auto 2px auto;
}
.item_thumbnail{
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 2px;
    margin: 2px;
    display: inline-block;
}
.item_attributes{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);
    border-style: solid;
    border-width: 2px;
    margin: 2px;
    
}
.item_head{

}    
.time_till{
    float: right;
}
